$crystalwhite: #fff;
$slateblack: #8e8d8d;
$carbonblack: #454545;
$crystalblack: #222;
$themedark: #22201e;
$themelight: #e0e0e0;
$wraperslate: #afafaf;
$wraperslatedark: #121212;

$burnertheme: #51399C;
$burnertheme: #056450;

$surfaceprimary: $wraperslate;
$surfaceprimarydark: $wraperslatedark;


