@use './styles/essentials';
@use './styles/color';
@import './styles/color';
@import './styles/essentials';

.Hero {
    width: 100%;
    background-color: $surfaceprimary;

    background: linear-gradient(180deg, $burnertheme 0%, #121212 96.75%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem 4rem 2rem 4rem;
    flex-direction: column;
    position: relative;
    gap: 2rem;

    @media only screen and (max-width: 800px) {
        padding: 10rem 2rem 0rem 2rem;
    }

}

.TopLayer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.Label {
    text-decoration: none;
    font-family: Space Grotesk;

    font-size: 1.3rem;
    text-transform: uppercase;
    color: #e0e0e0;
    text-wrap: nowrap;
    padding: 2rem 0rem;
    letter-spacing: -0.01rem;
}

.Caption {
    font-family: Space Grotesk;

    letter-spacing: 0rem;
    font-weight: 500;
    font-size: 1.4rem;
    color: $themedark;
    color: $wraperslate;
    display: inline-flex;
    letter-spacing: -0.01rem;
    gap: 1rem;
    line-height: 140%;
}


.Creations {
    padding: 1rem 4rem 4rem 4rem;
    display: flex;
    flex-direction: row;
    background-color: #1212123f;

    gap: 2rem;
    align-items: center;

    @media only screen and (max-width: 800px) {
        padding: 1rem 1.4rem;
    }



}

.CreationsGrid {
    padding: 4rem;
    display: grid;
    width: 100%;
    max-width: 180rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.4rem;

    @media only screen and (max-width: 800px) {
        padding: 1rem 1.4rem;
    }


    @media only screen and (max-width: 1400px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 800px) {
        grid-template-columns: repeat(1, 1fr);
    }


    .Creation {

        .CreationLink {
            text-decoration: none;

            .Thumbnail {
                max-width: 100%;
                user-select: none;
                max-height: 46rem;
                width: 100%;
                object-fit: cover;
                padding-bottom: 1rem;
            }

            @include smooth();

            &:hover {
                opacity: 0.7;
            }
        }

    }
}
